@import "tailwindcss";


.bg-darkblue{
  background-color: #121417;
}

.active{
  border-bottom: solid 2px white;
  padding-bottom: 0.6rem;
  transition: 0.5s;
}

.auth-section{
  background-image: linear-gradient(#030712f6, #030712f6),
  url("./assets/white-side-model.jpg");
}