@import "tailwindcss";


.bg-darkblue{
  background-color: #121417;
}

.active{
  border-bottom: solid 2px white;
  padding-bottom: 0.6rem;
  transition: 0.5s;
}

.auth-section{
  background-image: linear-gradient(#030712f6, #030712f6),
  url("./assets/white-side-model.jpg");
}



.slider-container {
  display: flex;
  gap: 2rem;
  width: fit-content;
  cursor: grab;
}

.product-slider {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.product-slider::-webkit-scrollbar {
  display: none;
}

.slider-container > * {
  scroll-snap-align: center;
  flex-shrink: 0;
}
